<h2>recipes</h2>
<table cellspacing='0px'>
	<thead>
	<tr>
		{{each(attr, value) Cookbook.Models.Recipe.attributes}}
      {{if !(attr === 'id')}}
			  <th>${attr}</th>
      {{/if}}
		{{/each}}
		<th>Tasty?</th>
		<th>Options</th>
	</tr>
	</thead>
	<tbody>
		{{html $.View('//cookbook/views/recipe/list',{recipes: recipes})}}
	</tbody>
</table>
<h2>New recipe</h2>
