{{each this.Class.attributes}}
  {{if (attribute == 'id')}}
    <td class='<%= attribute%>'>
		  ${this[attribute]}
	  </td>
  {{/if}}
  <td>${this.isTasty()}</td>
  <td>
    <a href='javascript://' class='edit'>edit</a>
    <a href='javascript://' class='destroy'>destroy</a>
  </td>
{{/each}}

